footer {
  text-align: center;
  font-size: 15px;
  color: rgb(152, 152, 152);
  display: block;
  margin: 10 auto;
  font-family: "Roboto Mono", monospace;
}

/* card setup on page, font assignment for text */
.weather-app-wrapper {
  margin: 20px auto;
  max-width: 900px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
}

.weather-app {
  padding: 30px;
}

.location {
  font-weight: bold;
  font-size: 40px;
}

.current-emoji {
  font-family: var(--bs-body-font-family);
  font-size: 90px;
  text-align: center;
}

img {
  width: 150px;
}
.current-temp {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.current-temp small {
  font-size: 50px;
  font-weight: normal;
  position: relative;
  bottom: 30px;
}

.btn-group {
  position: relative;
  bottom: 45px;
}
