body {
  background: linear-gradient(
    90deg,
    rgb(223, 234, 247) 11.2%,
    rgb(244, 248, 252) 91.1%
  );
}

.weather-app {
  padding: 30px;
}

/* setup on page, font assignment for all text except footer */
.weather-app-wrapper {
  margin: 20px auto;
  max-width: 900px;
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: rgb(77, 77, 77);
}

footer {
  text-align: center;
  font-size: 15px;
  color: rgb(152, 152, 152);
  display: block;
  margin: 10 auto;
  font-family: "Roboto Mono", monospace;
}

.location {
  font-weight: bold;
  font-size: 40px;
}

.current-icon {
  width: 100px;
  margin: 10px auto;
}

.current-temp {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.current-temp small {
  font-size: 35px;
  font-weight: normal;
  position: relative;
  bottom: 30px;
}

.forecast-column-day {
  border-radius: 10px;
  transition: 120ms ease-in-out;
  padding: 20px 0;
  text-align: center;
}

.forecast-column-day:hover {
  background: rgb(239, 247, 252);
  cursor: default;
}

.forecast-icon {
  width: 60px;
  margin: 20px auto;
}

.forecast-day {
  font-weight: bold;
}

.forecast-min {
  opacity: 0.6;
}
