footer {
  text-align: center;
  font-size: 15px;
  color: rgb(152, 152, 152);
  display: block;
  margin: 10 auto;
  font-family: "Roboto Mono", monospace;
}

/* setup on page, font assignment for all text except footer */
.weather-app-wrapper {
  margin: 20px auto;
  max-width: 900px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.weather-app {
  padding: 30px;
}

.location {
  font-weight: bold;
  font-size: 40px;
}

.current-emoji {
  font-family: var(--bs-body-font-family);
  font-size: 90px;
  text-align: center;
}

/* not in use
img {
  width: 150px;
}
*/

.current-temp {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.current-temp small {
  font-size: 50px;
  font-weight: normal;
  position: relative;
  bottom: 30px;
}

.btn-group {
  position: relative;
  bottom: 45px;
}

.forecast {
  text-align: center;
}

.forecast-emoji {
  font-family: var(--bs-body-font-family);
  font-size: 50px;
  margin: 10px auto;
}

.forecast-day {
  font-weight: bold;
}

.forecast-min,
.forecast-max {
}

.forecast-min {
  opacity: 0.5;
}

.forecast-column-day {
  border-radius: 10px;
  transition: 120ms ease-in-out;
  padding: 20px 0;
}

.forecast-column-day:hover {
  background: rgb(239, 247, 252);
  cursor: default;
}
